[submodule "firmware/third_party/mquickjs"]
	path = firmware/third_party/mquickjs
	url = https://github.com/bellard/mquickjs.git
	ignore = untracked
[submodule "firmware/third_party/lwip"]
	path = firmware/third_party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
	ignore = untracked
